<h1>Games index page</h1>

<ul>
<% @games.each do |game| %>
  <li><%= game.title %></li>
  <li><%= game.quantity %></li>
  <li><%= game.system %></li>
  <li><%= game.condition %></li>
<% end %>
</ul>
